.users__bar {
    background-color: #f2f2f2;
    height: 600px;
}

    .users__bar .__no__chat__ {
        background-color: rgba(128, 128, 128, 0.425);
        padding: 4px;
        font-weight: 500;
        text-align: center;
    }

    .users__bar .panel-heading.users__heading {
        padding: 15px 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        background-color: #158cba;
        color: #fff;
    }

    .users__bar .panel-body.users__body {
        padding: 0px;
    }

        .users__bar .panel-body.users__body .user__item {
            text-decoration: none;
        }

            .users__bar .panel-body.users__body .user__item span {
                color: #000;
                font-weight: 600;
                left: 7px;
                position: relative;
            }

            .users__bar .panel-body.users__body .user__item li {
                position: relative;
                display: block;
                padding: 10px 10px;
                margin-bottom: -1px;
                background-color: #e6e6e6;
                border: 1px solid #ddd;
            }

                .users__bar .panel-body.users__body .user__item li.active {
                    background-color: rgba(128, 128, 128, 0.425);
                }

            .users__bar .panel-body.users__body .user__item .avatar {
                display: inline-block;
            }

                .users__bar .panel-body.users__body .user__item .avatar img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

            .users__bar .panel-body.users__body .user__item .status-bar {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgba(128, 128, 128, 0.425);
                display: inline-block;
                margin: 0px 10px 0px;
            }

                .users__bar .panel-body.users__body .user__item .status-bar.active {
                    background-color: green;
                }

.chat__body {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    height: 600px;
}

    .chat__body .chat__main .__chat__ {
        padding: 15px 15px;
        border-radius: 20px;
        margin: 20px 20px 0px 20px;
        width: 65%;
    }

        .chat__body .chat__main .__chat__ p {
            font-weight: 400;
        }

            .chat__body .chat__main .__chat__ p.delivery-status {
                display: none;
                font-size: 12px;
                float: right;
                top: -10px;
                position: relative;
            }

        .chat__body .chat__main .__chat__.from__chat {
            background-color: #d9d9d9;
        }

        .chat__body .chat__main .__chat__.receive__chat {
            background-color: #4d9aff;
            float: right;
            color: #fff;
        }

    .chat__body .chat__type__body {
        position: absolute;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

        .chat__body .chat__type__body .chat__type {
            background-color: #e6e6e6;
            width: 100%;
        }

            .chat__body .chat__type__body .chat__type textarea {
                background-color: inherit;
                width: 85%;
                padding: 10px 10px 0px;
                border: none;
                display: inline-block;
            }

            .chat__body .chat__type__body .chat__type #sendMessage {
                position: relative;
                display: inline-block;
                top: -15px;
                width: 14%;
            }

    .chat__body .typing_display__open {
        bottom: 30px;
    }

    .chat__body .chat__typing {
        position: absolute;
        display: none;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        background-color: #f2f2f2;
        padding: 5px;
    }

        .chat__body .chat__typing span {
            font-style: italic;
            font-size: 12px;
            color: #999999;
        }
